<div>
  <div>Elige un arma con la que estás apuntando (debes tener un objetivo seleccionado)</div>
  {{> choiceTable}}
  <div class="clickable" id="closeAndReturn">Volver a escoger maniobra</div>
</div>
