<style>
  table .selected {
    background: #333 !important;
    color: #fff !important;
  }
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". .";
  }

  .nostyles {
    all: initial;
  }
</style>
<div>
  <div class="container">
    {{#unless beforeCombat}}
    <div class="nostyles">
        <input type="checkbox" id="keepOpen" {{#if data.keepOpen}}checked{{/if}}><label for="keepOpen">Mantén la ventana
        abierta después de atacar</label></div>
    <div  class="nostyles">
      <input type="button" class="clickable" id="closeAndReturn" value="Volver a escoger maniobra">
    </div>
    {{ else }}
      <div  class="nostyles">
        <input type="button" class="clickable" id="close" value="Cerrar ventana">
      </div>
    {{/unless}}
  </div>

  {{#if onlyReadyActions }}
    {{#if weaponsToBeReady.items.length}}
      <br>
      {{#if beforeCombat}}
          <h2>Armas a equipar antes del combate</h2>
      {{else}}
          <h2>Armas que tienes que equipar antes de atacar con ellas</h2>
      {{/if}}
      {{> choiceTable weaponsToBeReady}}
    {{/if}}
    {{#if weaponsNotToBeReady.items.length}}
      <br>
      <h2>Armas equipadas</h2>
      {{> choiceTable weaponsNotToBeReady}}
    {{/if}}
  {{else}}
    {{#if melee.items.length}}
      <br>
      <h2>Cuerpo a cuerpo</h2>
      {{> choiceTable melee}}
    {{/if}}
    {{#if ranged.items.length}}
      <br>
      <h2>A distancia</h2>
      {{> choiceTable ranged}}
    {{/if}}

    {{#if weaponsToBeReady.items.length}}
      <br>
      <h2>Armas que tienes que preparar antes de atacar con ellas</h2>
      {{> choiceTable weaponsToBeReady}}
    {{/if}}
    <br>

    <h2>Maniobras de combate avanzadas</h2>
    <br>
    <details>
      <summary><strong>Escoger una localización a atacar</strong></summary>
      <div>
        {{> choiceTable hitLocations}}
      </div>
    </details>

    {{#if disarmAttack.items.length}}
      <br>
      <details>
        <summary><strong>Desarmar</strong></summary>
        <div>
          {{> choiceTable disarmAttack}}
        </div>
      </details>
    {{/if}}
    {{#if counterAttack.items.length}}
      <br>
      <details>
        <summary><strong>Contraataque</strong></summary>
        <div>
          <p>Un contraataque exitoso penalizará la parada del contrincante en -2</p>
          {{> choiceTable counterAttack}}
        </div>
      </details>
    {{/if}}

    <h2></h2>
  {{/if}}
</div>

