<div>
  <div>Elige un arma con la que evaluar a tu oponente (tienes que tenerle seleccionado)</div>
  {{> choiceTable}}
  <div class="clickable" id="closeAndReturn">Volver a escoger maniobra</div>

</div>
