<div>
  <div>Elige el arma con el que estás haciendo una finta (tienes que tener seleccionado un objetivo)</div>
  {{> choiceTable}}
  <div class="clickable" id="closeAndReturn">Volver a escoger maniobra</div>

</div>
