<div>
  <div>Escoger las variantes</div>
  <input type="checkbox" id="targets" name="targets"
         checked>
  <label for="targets">Afecta a múltiples objetivos (tienes que haberlos seleccionado)</label>
  <input type="checkbox" id="area" name="area"
         checked>
  <label for="area">Afecta a un área (tienes que tenerla creada con antelación)</label>
</div>
