<div>
  <div>Escoge tu maniobra para este turno.</div>
  <br/>
  <h2>Maniobras básicas</h2>
  {{> choiceTable basicManeuver}}
  <h2>Maniobras avanzadas</h2>
  {{> choiceTable advancedManeuver}}
</div>

<div id="cards" style="display: none">
  <div class="card-container" id="do_nothing">
    <details>
      <summary class="card-title">NO HACER NADA</summary>
      <div class="card-text">
        <p>Se supone que cualquier persona que se quede quieta no est&aacute; haciendo nada. En particular, cuando
          el combate comienza, cualquier persona que a&uacute;n no haya tomado un turno es tratada como si hubiera
          tomado esta maniobra antes de entrar en combate.&nbsp;</p>
        <p>Alguien que est&eacute; consciente pero aturdido o sorprendido debe realizar esta maniobra. En cada turno
          de No hacer nada, puede intentar una tirada de TH para recuperarse del aturdimiento f&iacute;sico o una
          tirada de CI para recuperarse del aturdimiento mental. Si tiene &eacute;xito, se recupera al final de su
          turno, es decir, no hace nada en este turno, pero puede actuar normalmente en el siguiente.</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Ninguno.</p>
      <p>Defensa activa: Cualquiera (a menos que est&eacute; atado, etc.). Sin embargo, si est&aacute; aturdido,
        sus defensas activas est&aacute;n a -4 hasta su pr&oacute;ximo turno - incluso si se recupera.</p>
    </div>
  </div>
  <div class="card-container" id="move">
    <details>
      <summary class="card-title">MOVERSE</summary>
      <div class="card-text">
        <p>Mu&eacute;vete, pero no realices ninguna otra acci&oacute;n excepto las especificadas en Acciones Libres
          (p. 363). Puedes mover cualquier n&uacute;mero de metros hasta tu puntuaci&oacute;n completa de
          movimiento. La mayor&iacute;a de las otras maniobras permiten al menos algo de movimiento en tu turno;
          toma esta maniobra si todo lo que quieres hacer es moverte.</p>
        <p>Los jugadores deben decirle al GM exactamente a d&oacute;nde se mueven sus PCs para que pueda seguir el
          combate. El GM decide d&oacute;nde se mueven sus PNJs, e informar&aacute; a los jugadores cuyos PCs est&eacute;n
          en posici&oacute;n de presenciar el movimiento. Si est&aacute;s controlando un veh&iacute;culo o
          montando una montura, haz una maniobra de movimiento para pasar el turno control&aacute;ndolo
          activamente. En lugar de moverte t&uacute;, el veh&iacute;culo o la montura se mueven en tu turno (llev&aacute;ndote
          a ti y a otros ocupantes). Ver Combate Montado (p. 396) y Veh&iacute;culos (p. 462) para m&aacute;s
          detalles.</p>
        <p>Esprintar: Si corres hacia delante durante dos o m&aacute;s turnos seguidos, obtienes bonificaci&oacute;n
          de movimiento en tu segundo y posteriores; ver Esprintar (p. 354).&nbsp;</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Ver arriba.&nbsp; </p>
      <p>Defensa activa: Cualquiera.</p>
    </div>
  </div>
  <div class="card-container" id="change_posture">
    <details>
      <summary class="card-title">CAMBIAR DE POSTURA</summary>
      <div class="card-text">
        <p>Esta maniobra te permite cambiar entre dos "posturas" cualesquiera (posturas en las que puedes posar tu
          cuerpo). Las posturas v&aacute;lidas son de pie, sentado, arrodillado, arrastr&aacute;ndose, tumbado
          (boca abajo) y tumbado boca arriba. Cualquier postura que no sea estar de pie ralentiza tu movimiento y
          penaliza tus tiradas de ataque y defensa, pero tambi&eacute;n te convierte en un objetivo menor para los
          ataques a distancia. No puedes ponerte de pie directamente desde una posici&oacute;n tumbada. Si est&aacute;s
          tumbado (boca abajo o boca arriba), debes realizar una maniobra de Cambio de Postura para ponerte
          primero en posici&oacute;n de gateo, de rodillas o sentado. Una segunda maniobra de Cambio de Postura te
          permite ponerte de pie desde cualquiera de estas posturas. (Sin embargo, pasar de estar de pie a estar
          tumbado s&oacute;lo requiere una maniobra, o ninguna, si el cambio fue involuntario).</p>
        <p>Puedes pasar de estar arrodillado a estar de pie (solamente) como la parte del "paso" de cualquier
          maniobra que permita un paso - no necesitas Cambiar de Postura para eso. Esto es en lugar de usar el
          paso para moverse. Por lo tanto, podr&iacute;as pasar de estar tumbado a arrodillado con una maniobra de
          Cambio de Postura en un turno, y luego ponerte de pie en tu lugar en el siguiente turno realizando una
          maniobra que permita un paso.</p>
        <p>Agacharse no requiere una maniobra de Cambio de Postura; ver Acciones Libres (p. 363).</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Ninguno. Permaneces en tu sitio mientras cambias de postura.</p>
      <p>Defensa activa: Cualquiera. Las posturas que no sean de pie penalizan tus tiradas de defensa, pero tambi&eacute;n
        te convierten en un objetivo m&aacute;s peque&ntilde;o para los ataques a distancia..</p>
    </div>
  </div>
  <div class="card-container" id="aim">
    <details>
      <summary class="card-title">APUNTAR</summary>
      <div class="card-text">
        <p>Se trata de una maniobra de turno completo que se utiliza para apuntar un arma a distancia (o un
          dispositivo como una c&aacute;mara o un telescopio). Debes elegir un objetivo espec&iacute;fico. No
          puedes apuntar a algo que no puedas ver o detectar.</p>
        <p>Especifica el arma con la que apuntas y tu objetivo. Si sigues una maniobra de apuntar con un ataque o un
          ataque total con la misma arma contra el mismo objetivo, obtienes una bonificaci&oacute;n para golpear.
          A&ntilde;ade la Precisi&oacute;n del arma (Acc) a tu habilidad, m&aacute;s cualquier bonificaci&oacute;n
          por los sistemas de punter&iacute;a utilizados: miras, ordenadores de punter&iacute;a, etc. Si preparas
          un arma de fuego o una ballesta, obtienes un +1 extra a la precisi&oacute;n. Un arma de fuego o una
          ballesta est&aacute; reforzada si puedes apoyarla en un saco de arena, una pared baja, un coche, etc. Un
          arma de fuego de una mano (por ejemplo, una pistola) se considera reforzada si se usa a dos manos. Un
          arma de fuego de dos manos (p. ej., un rifle) se considera arriostrada si se encuentra en posici&oacute;n
          prona y utiliza un b&iacute;pode.</p>
        <p>Si apuntas durante m&aacute;s de un segundo, recibes una bonificaci&oacute;n adicional: +1 por dos
          segundos de apuntar, o +2 por tres o m&aacute;s segundos.</p>
        <p>La bonificaci&oacute;n combinada de todos los sistemas de punter&iacute;a (visores, miras, ordenadores,
          etc.) no puede superar la Precisi&oacute;n base del arma. Por ejemplo, si a&ntilde;ades una mira telesc&oacute;pica
          que da +4 Acc a una pistola con Acc 2, la bonificaci&oacute;n es de +2, no de +4.</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Paso. Excepci&oacute;n: No se puede dar un paso si se utiliza un arma de dos manos con empu&ntilde;adura.</p>
      <p>Defensa activa: Cualquiera, pero estropeas autom&aacute;ticamente tu punter&iacute;a y pierdes todos los
        beneficios acumulados. Si te hieren mientras apuntas, debes hacer una tirada de Voluntad o perder&aacute;s
        tu punter&iacute;a.</p>
    </div>
  </div>
  <div class="card-container" id="evaluate">
    <details>
      <summary class="card-title">EVALUAR</summary>
      <div class="card-text">
        <p>Esta maniobra es el equivalente en combate cuerpo a cuerpo de Apuntar. Te permite tomarte un tiempo para
          estudiar a un adversario con el fin de obtener una bonificaci&oacute;n de combate en un ataque
          posterior. Debes especificar un adversario visible que est&eacute; lo suficientemente cerca como para
          atacar desarmado o con un arma cuerpo a cuerpo preparada, o al que podr&iacute;as alcanzar con una sola
          maniobra de movimiento y ataque. Lo est&aacute;s evaluando y buscando el momento adecuado para
          atacar.</p>
        <p>Una maniobra de Evaluaci&oacute;n te da +1 a la habilidad para un Ataque, Finta, Ataque Total o
          Movimiento y Ataque realizado contra ese oponente, s&oacute;lo en tu siguiente turno. Puedes realizar
          varias maniobras de Evaluaci&oacute;n consecutivas antes de atacar, lo que te da un +1 acumulativo por
          turno, hasta un m&aacute;ximo de +3.</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Paso. </p>
      <p>Defensa activa: Cualquiera. Esto no estropea tu evaluaci&oacute;n</p>
    </div>
  </div>
  <div class="card-container" id="attack">
    <details>
      <summary class="card-title">ATAQUE</summary>
      <div class="card-text">
        <p>Utiliza esta maniobra para realizar un ataque armado o desarmado en combate cuerpo a cuerpo, o para
          utilizar un arma arrojadiza o de proyectiles en combate a distancia. Para utilizar un arma para atacar,
          &eacute;sta debe estar preparada. Si utilizas un arma de cuerpo a cuerpo o un ataque desarmado, tu
          objetivo debe estar al alcance. Resuelve el ataque como se explica en Ataques cuerpo a cuerpo (pp.
          369-372). Si realizaste una maniobra de Evaluaci&oacute;n (arriba) en el &uacute;ltimo turno, tendr&aacute;s
          una bonificaci&oacute;n para golpear. Si realizaste una Finta (abajo), tu oponente puede tener una
          penalizaci&oacute;n a la defensa.</p>
        <p>Si est&aacute;s usando un arma a distancia, tu objetivo debe estar dentro del alcance m&aacute;ximo del
          arma. Resuelve el ataque de acuerdo con Ataques a distancia (pp. 372-374). Si realizaste una maniobra de
          punter&iacute;a (p. 364) en el &uacute;ltimo turno, tendr&aacute;s una bonificaci&oacute;n para
          golpear.</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Paso. Puedes dar un paso y luego atacar o atacar y luego dar un paso - a tu elecci&oacute;n.
        Para moverte m&aacute;s lejos y seguir atacando, coge Ataque total o Mover y ataca. </p>
      <p>Defensa activa: Cualquiera. </p>
    </div>
  </div>
  <div class="card-container" id="feint">
    <details>
      <summary class="card-title">FINTA</summary>
      <div class="card-text">
        <p>"Finge" un ataque cuerpo a cuerpo. No puedes fintar a alguien a menos que pudieras haberle golpeado con
          un ataque cuerpo a cuerpo, es decir, que tu arma est&eacute; preparada y tu enemigo est&eacute; al
          alcance. Sin embargo, esta maniobra no es un ataque y no hace que tu arma no est&eacute; preparada.</p>
        <p>Cuando hagas una finta, tira una tirada r&aacute;pida de habilidad de arma cuerpo a cuerpo con tu
          enemigo; si alguno de los dos est&aacute; desarmado, puedes tirar contra una habilidad de combate
          desarmado en su lugar. Tu oponente puede optar por tirar contra la habilidad Capa o Escudo, si est&aacute;
          adecuadamente equipado y esto le dar&iacute;a una mejor tirada. Si su DX es mejor que su habilidad de
          combate, puede tirar contra la DX en su lugar.</p>
        <p>Si falla su tirada, su Finta no tiene &eacute;xito. Igualmente, si tienes &eacute;xito, pero tu enemigo
          tiene tanto o m&aacute;s &eacute;xito que t&uacute;, tu finta fracasa.</p>
        <p>Si consigues tu tirada y tu enemigo falla, resta tu margen de &eacute;xito de la defensa activa del
          enemigo si le atacas con Ataque, Ataque total o Mover y atacar en tu siguiente turno. Por ejemplo, si tu
          habilidad es 15 y sacas un 12, tu enemigo se defiende contra ti con -3 en el siguiente turno.</p>
        <p>Si t&uacute; y tu enemigo ten&eacute;is &eacute;xito, pero t&uacute; tienes m&aacute;s &eacute;xito,
          resta tu margen de victoria de la defensa del enemigo. Por ejemplo, si tu habilidad es 15 y sacas un 10
          (&eacute;xito por 5), y la habilidad de tu enemigo es 14 y saca 12 (&eacute;xito por 2), ganas por 3,
          por lo que se defender&aacute; a -3 si tu pr&oacute;xima maniobra es atacarle.</p>
        <p>No puedes hacer una finta si tu enemigo no puede observarte. Sin embargo, si tu enemigo huye, te da la
          espalda o te pierde de vista de alguna manera despu&eacute;s de que hayas hecho una Finta con &eacute;xito,
          seguir&aacute; sufriendo su penalizaci&oacute;n a la defensa si le atacas en tu siguiente turno. Si
          pierdes de vista al enemigo, o no puedes atacarle en el siguiente turno, la penalizaci&oacute;n de
          defensa de tu enemigo desaparece.</p>
        <p>Una finta es buena durante un segundo. Pero si haces una finta y luego un ataque total (doble), la finta
          se aplica a ambos ataques.</p>
        <p>En cualquier caso, tus aliados no pueden aprovecharse de tu finta. La penalizaci&oacute;n a la defensa se
          aplica s&oacute;lo a tu siguiente ataque.</p>
        <p>Finta de Escudo: Despu&eacute;s de que hayas atacado a tu enemigo una vez golpeando con tu escudo (ver p.
          406), tambi&eacute;n puedes hacer una finta con tu escudo, tirando contra la habilidad Escudo.</p>
        <p><span
          style="font-family: var(--font-primary); font-size: var(--font-size-14);">Movimiento: Paso.&nbsp;</span>
        </p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Paso.</p>
      <p>Defensa activa: Cualquiera. </p>
    </div>
  </div>
  <div class="card-container" id="allout_attack">
    <details>
      <summary class="card-title">ATAQUE TOTAL</summary>
      <div class="card-text">
        <p>Ataca a cualquier enemigo con un arma preparada, sin hacer ning&uacute;n esfuerzo para defenderse de los
          ataques enemigos. Si est&aacute;s realizando un ataque cuerpo a cuerpo, debes especificar una de estas
          cuatro opciones antes de atacar:</p>
        <p>- Determinado: Realiza un &uacute;nico ataque con un +4 al impacto.</p>
        <p>-Doble: Haz dos ataques contra el mismo enemigo, si tienes dos armas preparadas o un arma que no tenga
          que ser preparada despu&eacute;s de su uso. Los ataques con una segunda arma sostenida en la mano libre
          tienen el -4 habitual (ver Manos, p. 14) a menos que tengas Ambidexteridad (p. 39).</p>
        <p>-Finta: Haz una Finta (ver arriba) y luego un ataque contra el mismo enemigo. La Finta se aplica a este
          ataque en lugar de uno que hagas en tu siguiente turno.</p>
        <p>- Fuerte: Realiza un &uacute;nico ataque, con la habilidad normal. Si impactas, obtienes +2 al da&ntilde;o
          - o +1 al da&ntilde;o por dado, si eso fuera mejor. Esto s&oacute;lo se aplica a los ataques cuerpo a
          cuerpo que hacen un da&ntilde;o de empuje o balanceo basado en la ST, no a las armas como las espadas de
          fuerza. Si est&aacute;s haciendo un ataque a distancia, debes especificar una de estas dos opciones
          antes de atacar:</p>
        <p>- Determinado: Realiza un &uacute;nico ataque con un +1 al impacto.</p>
        <p>- Fuego de supresi&oacute;n: Toma todo el turno para rociar un &aacute;rea con fuego autom&aacute;tico.
          Esta es una maniobra de turno completo, y s&oacute;lo puedes elegir esta opci&oacute;n si tu arma tiene
          RoF 5+. Ver Fuego de Supresi&oacute;n (p. 409).</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Puedes moverte hasta la mitad de tu movimiento, pero s&oacute;lo puedes moverte hacia
        delante.</p>
      <p>Defensa activa: No puedes hacer ninguna defensa activa desde el momento en que realizas esta maniobra
        hasta tu siguiente turno. Si alguien te ataca despu&eacute;s de que hagas un ataque total, todo lo que
        puedes hacer es esperar que falle - &iexcl;no puedes esquivar, parar o bloquear!. </p>
    </div>
  </div>
  <div class="card-container"  id="move_and_attack">
    <details>
      <summary class="card-title">MOVER Y ATACAR</summary>
      <div class="card-text">
        <p>Mu&eacute;vete como se describe para la maniobra de movimiento (p. 364), pero durante o despu&eacute;s de
          tu movimiento, realiza un &uacute;nico ataque mal dirigido, ya sea sin armas o con un arma
          preparada.</p>
        <p>&nbsp;</p>
        <p>Atacas como se describe para la maniobra de ataque (arriba), pero con una penalizaci&oacute;n. Si est&aacute;s
          haciendo un ataque a distancia, tienes una penalizaci&oacute;n de -2 o el &iacute;ndice de Bulk del
          arma, lo que sea peor - y si tomaste una Punter&iacute;a, pierdes todos sus bonos. Si est&aacute;s
          realizando un ataque cuerpo a cuerpo que no sea un golpe (p. 371), tienes un -4 a la habilidad, y tu
          habilidad ajustada no puede ser superior a 9.</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Como se describe en la maniobra de movimiento - pero como est&aacute;s tratando de hacer dos
        cosas a la vez, tienes -2 a las tiradas que el GM requiera para evitar ca&iacute;das, tropezar con obst&aacute;culos,
        etc.</p>
      <p>Defensa activa: Esquivar o bloquear solamente. No puedes parar y no puedes retirarte (ver Retirada, p.
        377). </p>
    </div>
  </div>
  <div class="card-container"  id="allout_defense">
    <details>
      <summary class="card-title">DEFENSA TOTAL</summary>
      <div class="card-text">
        <p>Esta es la maniobra que debes elegir cuando te acosan los enemigos, &iexcl;especialmente aquellos a los
          que les gustan los ataques totales! Debes especificar una de las dos opciones siguientes:</p>
        <p>&nbsp;</p>
        <p>- Defensa aumentada: A&ntilde;ade +2 a una defensa activa de tu elecci&oacute;n: Esquivar, Parar o
          Bloquear. Esta bonificaci&oacute;n persiste hasta tu siguiente turno.</p>
        <p>&nbsp;</p>
        <p>- Defensa doble: Aplica dos defensas activas diferentes contra el mismo ataque. Si fallas tu tirada de
          defensa contra un ataque, puedes intentar una segunda defensa diferente contra ese ataque. Por ejemplo,
          si fallas un bloqueo, puedes intentar una esquiva o una parada. Si intentas una parada (armada o
          desarmada) con una mano y fallas, una parada con la otra mano cuenta como una "defensa diferente".</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Si eliges la esquiva aumentada, puedes moverte hasta la mitad de tu movimiento. De lo
        contrario, el &uacute;nico movimiento que puedes hacer es un paso..</p>
      <p>Defensa activa: Puedes elegir cualquier defensa activa legal, con las bonificaciones descritas
        anteriormente. </p>
    </div>
  </div>
  <div class="card-container"  id="concentrate">
    <details>
      <summary class="card-title">CONCENTRARSE</summary>
      <div class="card-text">
        <p>Te concentras en una tarea principalmente mental (aunque tenga un peque&ntilde;o componente f&iacute;sico,
          como manejar controles, gesticular o hablar). Puede tratarse de lanzar un hechizo m&aacute;gico, usar
          una habilidad ps&iacute;quica, hacer una tirada de Sentido para detectar un guerrero invisible, hacer
          una tirada de Liderazgo para dar &oacute;rdenes, hacer una tirada de Operaci&oacute;n Electr&oacute;nica
          para manejar un sensor, o cualquier acci&oacute;n similar, incluyendo la mayor&iacute;a de las tiradas
          de habilidad basadas en el CI. Esta es una maniobra de turno completo.</p>
        <p>Algunas actividades (por ejemplo, el lanzamiento de hechizos) requieren que realices la maniobra de
          Concentraci&oacute;n durante varios segundos. Si te ves obligado a utilizar una defensa activa, te
          derriban, te hieren o te distraen de alguna manera antes de terminar, debes hacer una tirada de
          Voluntad-3. Si fallas, pierdes la concentraci&oacute;n. Si fallas, pierdes la concentraci&oacute;n y
          debes volver a empezar.</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Paso</p>
      <p>Defensa activa: Cualquiera. Sin embargo, interfiere con la concentraci&oacute;n como se ha indicado
        anteriormente. </p>
    </div>
  </div>
  <div class="card-container" id="ready">
    <details>
      <summary class="card-title">PREPARAR</summary>
      <div class="card-text">
        <p>Realiza una maniobra de Preparar para recoger o sacar cualquier objeto y prepararlo para uso; por
          ejemplo, para sacar una espada de su espada o una pistola de su funda, o para recargar un arma de fuego.
          En algunos casos puede necesitar una maniobra de Listo para recuperar el control de un arma dif&iacute;cil
          de manejar despu&eacute;s de un golpe, o para ajustar el alcance de de un arma larga - ver la Tabla de
          Armas (p. 271).</p>
        <p>Puedes usar una maniobra de Listo para realizar acciones f&iacute;sicas que no sean luchar: abrir o
          cerrar una puerta, abrir una cerradura, cavar, levantar, etc. Las actividades continuas pueden requerir
          m&uacute;ltiples y consecutivas maniobras de Preparar; v&eacute;ase Otras acciones en combate (p.
          382).</p>
        <p>Por &uacute;ltimo, una maniobra de Listo te permite una ventaja "apagada" o "encendida" si no est&aacute;
          no est&aacute; siempre activada y no requiere una maniobra de Ataque o Concentraci&oacute;n para
          utilizar.</p>
        <p>Para m&aacute;s informaci&oacute;n en informaci&oacute;n, v&eacute;ase Preparaci&oacute;n de las armas y
          otros equipos (p. 382) y &iquest;Cu&aacute;ndo est&aacute; lista un arma? (p. 382).</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Paso</p>
      <p>Defensa activa: Cualquiera</p>
    </div>
  </div>
  <div class="card-container" id="wait">
    <details>
      <summary class="card-title">ESPERAR</summary>
      <div class="card-text">
        <p>No hagas nada a menos que un evento particular que hayas especificado de antemano ocurra antes de tu pr&oacute;ximo
          turno; por ejemplo, un enemigo se pone a tiro. Si eso ocurre, puedes transformar tu Espera en una
          maniobra de Ataque, Finta, Ataque Total (debes especificar la opci&oacute;n antes de actuar) o Listo. Si
          est&aacute;s reaccionando ante otra persona, esto interrumpe su turno, pero puede reanudarlo despu&eacute;s
          de que hayas actuado. Debes especificar exactamente cu&aacute;l ser&aacute; tu acci&oacute;n cuando
          tomes la maniobra Esperar, y qu&eacute; la desencadenar&aacute;. Por ejemplo, "Har&eacute; un Ataque
          Total (Determinado) con mi espada al primer orco que se mueva hacia m&iacute;".</p>
        <p>Puedes realizar una Espera con un arma a distancia preparada; esto se conoce como "cubrir" un objetivo o
          zona. Si es as&iacute;, debes especificar la zona que est&aacute;s cubriendo con esa arma. No hay
          penalizaci&oacute;n por cubrir un &aacute;rea de un metro. Para &aacute;reas m&aacute;s grandes y reglas
          adicionales, ver Fuego de Oportunidad (p. 390).</p>
        <p>Puedes utilizar la maniobra de espera para cualquier "acci&oacute;n refleja" que quieras planificar de
          antemano, siempre que especifiques tanto la respuesta como la acci&oacute;n que la desencadenar&aacute;.
          Esto puede incluir sostener un cuchillo en la garganta de un reh&eacute;n, o incluso una acci&oacute;n
          que no sea de combate (por ejemplo, "Si Dora ve alg&uacute;n orco, tirar&aacute; de esta cuerda
          inmediatamente - de lo contrario, no har&aacute; nada"). Una acci&oacute;n s&oacute;lo se califica como
          "reflejo" si se puede hacer en un solo movimiento. La decisi&oacute;n del GM es definitiva.</p>
        <p>Finalmente, puedes usar Esperar para coordinar acciones con amigos m&aacute;s lentos. Detener el empuje:
          Si tienes un arma de empuje preparada, puedes usar una Espera para preparar tu arma para recibir una
          posible carga enemiga. Simplemente di: "Me preparo para una estocada de parada". Puedes convertir tu
          Espera en un Ataque o Ataque Total contra cualquier enemigo que se mueva una o m&aacute;s yardas hacia
          ti para hacer un ataque cuerpo a cuerpo (armado o desarmado, incluyendo un golpe o un agarr&oacute;n) o
          evadir (ver Evadir, p. 368). Golpeas primero si tienes mayor alcance. Si golpeas y tu enemigo no se
          defiende, a&ntilde;ade +1 al da&ntilde;o por empuje por cada dos metros completos que tu atacante se
          haya movido hacia ti.</p>
      </div>
    </details>
    <div class="card-bottom">
      <p>Movimiento: Ninguno hasta que se desencadene tu Espera. En ese momento, puedes moverte como lo permita la
        maniobra que hayas especificado (Ataque, Finta, Ataque total o Listo).</p>
      <p>Defensa activa: Puedes defenderte normalmente mientras esperas o despu&eacute;s de que se
        active tu Espera. Pero si te defiendes mientras esperas, no puedes transformar tu espera en un ataque
        total; debes convertir tu espera en un ataque.</p>
    </div>
  </div>
</div>
